# Question-Answer Generation System Dependencies

# Core dependencies
pandas==2.2.3
numpy==2.2.2
dspy==2.5.43


torch==2.6.0
transformers==4.48.1

# Evaluation metrics
bert_score==0.3.13
rouge_score==0.1.12

# If using OpenAI models
# openai==1.61.1
